#global {
    background-color: rgba(255, 255, 255, 0.95);
    width: 92%;
    /* margin-bottom: 10px; */
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-shadow: 2px 2px white;
    padding: 20px;


    
}
.span{
    /* text-align: right; */
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px white;}
#global-title{
    font-family: Lobster;
    /* text-decoration: underline; */
    text-shadow: 2px 2px white;
}