.signup-form {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 100px;


  }
  
  .form input {
    display: block;
    margin-top: 5px;
    float: left;
  }
  button{
    overflow: auto;
  }