
body {
  height: 100%;
  background: url("https://media.npr.org/assets/img/2018/04/04/gettyimages-937327264-0ffed8630d3555e1c7389d3af280fffec4bcf9ef-s800-c85.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#title {
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: 25px;
}
#signup-form {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.9);
  /* position: absolute; */
  width: 400px;
  height: 400px;
  text-align: center;
  padding-top: 50px;


}

.signin-form {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 100px;


  }
  
  .form input {
    display: block;
    margin-top: 5px;
    float: left;
  }
  button{
    overflow: auto;
  }